# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [8]:
# write your code here

test_list = [(5, 6), (5, 7), (7, 20), (5, 8), (6, 10), (10, 12), (7, 9), (7,11), (5,10), (9, 8)]

main_list = []

for i in test_list:
    s1 = set()
    for j in test_list:
        if test_list.index(i) == test_list.index(j):
            continue
        else:
            if i[0] == j[0]:
                s1.update([i[0], i[1], j[0], j[1]])
            else:
                if i in main_list or j in main_list:
                    continue
                else:
                    main_list.append(j)
    if tuple(sorted(s1)) in main_list:
        continue
    elif s1 == set():
        continue
    else:
        main_list.append(tuple(sorted(s1)))


print(main_list)

[(7, 20), (6, 10), (10, 12), (7, 9), (7, 11), (9, 8), (5, 6, 7, 8, 10), (7, 9, 11, 20)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [10]:
# write your code here

myTup = (1, 5, 7, 8, 10)
myList = []

for i in range(0, len(myTup)):
    if i == 0:
        myList.append(myTup[i]*myTup[i+1])
    elif i == (len(myTup) - 1):
        myList.append(myTup[i-1]*myTup[i])
    else:
        myList.append((myTup[i-1]*myTup[i]) + (myTup[i]*myTup[i+1]))

print(tuple(myList,))

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [15]:
# write your code here

t1 = (1,2,3,0)
t2 = (1,2,3,0)
 
if t1 == t2:
    print("t1 and t2 are same...")
else:
    print("t1 and t2 are not same...")

t1 and t2 are same...

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [4]:
# write your code here

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

l = 0
s = 0
t = 0

for i in list1:
    if type(i) == list:
        l+=1
    elif type(i) == set:
        s+=1
    else:
        type(i) == tuple
        t+=1

print(f"List - {l}\nSet - {s}\nTuple - {t}")

List - 2
Set - 2
Tuple - 1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here

Records = int(input("Enter No of records- "))
print("Enter Details of students- ")

student_list = []

for i in range(0, Records):
    Name = input("Enter Student name- ")
    HighEd = input("Enter Higher Education- ")
    Pskill= input("Enter Primary Skill- ")
    GradYr= int(input("Enter Year of Graduation- "))

    student_list.append((Name, HighEd, Pskill, GradYr),)

Role = input("Enter Job Role Requirement")
Skill = input("Enter Skill- ")
HighEdu = input("Enter Higher Education- ")
GradYear = int(input("Enter Year of Graduation- "))

req_candidates = []

for i in student_list:
    if Skill in i and HighEdu in i  and GradYear in i:
        req_candidates.append(i)
    else:
        continue

if len(req_candidates) == 0:
    print("No such Candidates.")
else:
    for i in range(0, len(req_candidates)):
        print(f"Candidate {i+1} = {req_candidates[i]}" )

Enter Details of students-
No such Candidates.

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [7]:
# write your code here

ar1 = [1, 5, 10, 20, 40, 80, 120]
ar2 = [6, 7, 20, 80, 100, 120]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

num = []

for i in ar1:
    for j in ar2:
        if i == j:
            for k in ar3:
                if j == k:
                    num.append(k)
        else:
            continue
                
print(num)

[20, 80, 120]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [8]:
# write your code here

vowCap = ['A', 'E', 'I', 'O', 'U']
vowSm = ['a','e','i','o','u']
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
Vowels = []
count = 0

for i in Str1:
    if i not in Vowels and (i in vowCap or i in vowSm):
        count+=1
        Vowels.append(i)
    else:
        continue

print(f"No. of unique vowels - {count}")

No. of unique vowels - 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [17]:
# write your code here

str1 = "ABBA"

mystr = []

binary = True

for i  in str1:
    if i in mystr:
        continue
    else:
        mystr.append(i)
    if len(mystr) <= 2:
        binary = True
    else:
        binary = False
        break

if binary:
    print("Binary..")
else:
    print("Not Binary..")

Binary..

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [20]:
list1 = []
while True:
    userInput = list(input("Enter Numbers ('STOP' to break): "))
    if userInput == ['S', 'T', 'O', 'P']:
        break
    else:
        list1.append(userInput)

newList = set()

for i in list1:
    newList = newList.union(set(i)) 

print(sorted(list(newList)))

['1', '2', '3', '4', '5', '6', '7', '9']

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [3]:
# write your code here

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[i for i in lst1 for j in lst2 if i == j]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [13]:
# write your code here


test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

key = ''

for i in test_dict:
    if len(set(test_dict[i])) > len(key):
        key=i
    else:
        continue

print(key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [44]:
# write your code here

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

newList = test_str.split(' ')
myStr = ''

for i in newList:
    for j in repl_dict:
        if i == j:
            newList[newList.index(i)] = repl_dict[j]
        else:
            continue
        
for i in newList:
    myStr+=i
    myStr+=" "
    

print(myStr)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [99]:
# write your code here

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

l1 = []

for i in range(0, len(test_list), len(key_list)):
    d1 = {}
    for j in range(0, len(key_list)):
        d1[key_list[j]] = test_list[i]
        i+=1
    l1.append(d1)
print(l1)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [103]:
# write your code here

l1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict(l1)

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

In [105]:
l1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

d1 ={}

for i in l1:
    d1[i[0]] = [i[-1]]

print(d1)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [142]:
# write your code here

d1 = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
d2 = sorted(d1.items())

for i in d2:
    i[-1].sort()

print(dict(d2))

{'c': [3, 10, 34]}