### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def func(a):
    b = sorted(set(a))
    return b

func([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [7]:
# Write code here

def func(s):
    a = ""
    b = sorted(s.split('-'))
    for i in b:
        a+=i
        a+="-"
    c = a.removesuffix('-')
    return c

func("green-red-yellow-black-white")

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [10]:
# Write code here

def func(string):
    Upper = 0
    Lower = 0
    for i in string:
        if i.isupper():
            Upper+=1
        elif i.islower():
            Lower+=1
        else:
            continue
    print("No. of Upper case characters : ", Upper)
    print("No. of Lower case Characters : ", Lower)

func('CampusX is an Online Mentorship Program fOr EnginEering studentS.')

No. of Upper case characters :  9
No. of Lower case Characters :  47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [12]:
# Write code here

def func(l1):
    l2 = []
    for i  in l1:
        if i % 2 == 0:
            l2.append(i)
        else:
            continue
    return l2
func([1, 2, 3, 4, 5, 6, 7, 8, 9])

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [57]:
# Write code here

def func(n):
    Num = n
    Sum = 0
    for i in range(1, Num):
        if Num % i == 0:
            Sum+=i
        else:
            continue
    if Num == Sum:
        return f"{Num} is a perfect Number."
    else:
        return f"{Num} is not perfect Number."

func(8128)

'8128 is a perfect Number.'

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [82]:
# Write code here

def myFunc(myList):
    l1 = myList
    l2 = {}

    for i in range(0, len(l1)):
        a = list(l1[i].items())
        l2.update(a)

    return l2

myFunc([{1:10, 2:20}, {3:30, 4:40}, {5:50,6:60}])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [99]:
# Write code here

def func(string):
    l1 = string.split(" ")

    count = 0
    mystring = ''
    
    for i in l1:
        if l1.count(i) > count:
            count = l1.count(i)
            mystring = i
        else:
            continue
    return f"String is '{mystring}' and count is {count}"

func("hello how are you i am fine thank you")

"String is 'you' and count is 2"

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [37]:
# Write code here

l1  = [13,42,15,37,22,39,41,50]
d1 = {}

for i in l1:
    if 11<=i<=20:
        d1.update({"11-20":d1.get("11-20", 0)+1})
    elif 21<=i<=30:
        d1.update({"21-30":d1.get("21-30", 0)+1})
    elif 31<=i<=40:
        d1.update({"31-40":d1.get("31-40", 0)+1})
    elif 41<=i<=50:
        d1.update({"41-50":d1.get("41-50", 0)+1})
    elif 51<=i<=60:
        d1.update({"51-60":d1.get("51-60", 0)+1})
    else:
        d1.update({"60+":d1.get("60+", 0)+1})

print(d1)

{'11-20': 2, '41-50': 3, '31-40': 2, '21-30': 1}

In [35]:
# Write code here

l1  = [13,42,15,37,22,39,41,50]
d1 = {}

for i in l1:
    if i>=11 and i<=20:
        d1.update({"11-20":4})
    elif i>=21 and i<=30:
        d1.update({"21-30":5})
    elif i>=31 and i<=40:
        d1.update({"31-40":4})
    elif i>=41 and i<=50:
        d1.update({"41-50":3})
    elif i>=51 and i<=60:
        d1.update({"51-60":2})
    else:
        d1.update({"60+":1})

print(d1)

{'11-20': 6, '41-50': 3, '31-40': 4, '21-30': 5}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [31]:
# Write code here
import math
from functools import reduce

def func(l1):
    QP = (0,0)
    dl = []

    for i in l1:
        x1 = i[0]
        y1 = i[1]
        x2 = QP[0]
        y2 = QP[1]

        result = math.sqrt((x2-x1)**2 + (y2-y1)**2)
        dl.append((i,result))

    NP = reduce(lambda x, y: x if x[1]<y[1] else y, dl) # Have doubt in this line
    
    return NP

func([(1,1),(2,2),(3,3),(4,4)])

((1, 1), 1.4142135623730951)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [21]:
# Write code here

s1 = "John likes to watch movies. Mary likes movies too."
s2 = "Mary also likes to watch football games."
s3 = "John likes to watch movies. Mary likes movies too."
s4 = "Mary also likes to watch football games."
s5 = "John likes to watch movies. Mary likes movies too."
s6 = "Mary also likes to watch football games."

def func(l1):
    l2 = []
    dic = {}

    for i in l1:
        string = ""
        for j in i:
            if j == ".":
                continue
            else:
                string+=j
        l2.append(string)

    string2 = ""
    for i in l2:
        string2+=i
        string2+=" "

    l = string2.split(" ")
    for i in l:
        dic.update({i: l.count(i)})

    return dic

l1 = [s1, s2, s3, s4, s5, s6]

func(l1)

{'John': 3,
 'likes': 9,
 'to': 6,
 'watch': 6,
 'movies': 6,
 'Mary': 6,
 'too': 3,
 'also': 3,
 'football': 3,
 'games': 3,
 '': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [34]:
# Write code here
l1 = [5, 6, 7, 8]
l2 = [9, 10, 3, 1]
l3 = [3, 8, 1, 11]

mapping = map(lambda x,y,z: x+y+z, l1, l2, l3)
print(list(mapping))

[17, 24, 11, 20]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [7]:
# Write code here
from functools import reduce

list1 = [1,2,3,4,5,6]

red = map(lambda x: x**(x-1), list1)
print(list(red))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [21]:
# Write code here

string1 = "John likes to watch movies. Mary likes movies too."
list1 = list(string1.lower())
vowel = ['a','e','i','o','u']

sen = filter(lambda x: x in vowel, list1)
print(list(sen))

['o', 'i', 'e', 'o', 'a', 'o', 'i', 'e', 'a', 'i', 'e', 'o', 'i', 'e', 'o', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [24]:
# Write code here

list1 = [[1,2],[3,4],[5,6]]

list2 = reduce(lambda x,y: x+y, list1)
print(list(list2))

[1, 2, 3, 4, 5, 6]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [26]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [28]:
list(map(lambda x: x['fname'] + ' ' + x['lname'] if x['grade']=='highly-skilled' else None, employees))

[None, None, 'Neha Singh', None, 'Abhinav Sharma']

In [29]:
list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))

[{'fname': 'Neha', 'lname': 'Singh', 'age': 35, 'grade': 'highly-skilled'},
 {'fname': 'Abhinav', 'lname': 'Sharma', 'age': 37, 'grade': 'highly-skilled'}]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']